# Compiled codes
build/
dist/
*.wast

# IDE's
.vscode
.idea
*.iml

# Dependency directories
node_modules

# Desktop Services Store on macOS
.DS_Store

# Temp
temp
.mongo-data
.pgsql-data

# wallet keys
keys