# Compiled codes
build/
dist/
*.wasm
*.wast

# IDE's
.vscode
.idea

# Dependency directories
node_modules

# Desktop Services Store on macOS
.DS_Store

# Temp
temp
.mongo-data
.pgsql-data

# wallet keys
keys