$battle_arena_width:  1020px;
$battle_arena_height: 600px;

@mixin arena_bg($value) {
  background: url('../assets/images/arenas/#{$value}.png') no-repeat center center;
  background-size: cover;
}

.monster-picks {
  small {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
  }

  .player-monsters {
    display: flex;
    flex-wrap: wrap;

    .monster-pick {
      max-width: 140px;
      max-height: 140px;
      margin: 18px;
      @include filter(brightness, 80%);

      &:hover, &.active {
        border: 2px solid $green;
        border-radius: 5%;
        cursor: pointer;
        @include filter(brightness, 100%);
      }
    }
  }

}

.loading-message {
  color: rgb(255, 255, 255);
  font-size: 5.5em;
  font-family: $logo-font;
}

.monster-hp-name {
  position: absolute;
  margin-top: -25px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.battle-actions {
  height: 30px;
}

.battle-buttons-container {
  display: flex;
  position: absolute;
  bottom: 7px;
  left: 35px;
}

.battle-buttons-container * {
  margin-right: 5px;
}

.my-monster-hp {
  left: 30px;
  bottom: 80px;
}

.enemy-monster-hp {
  left: 713px;
  top: -569px;
}

.battle-arena {
  width: 100%;
  height: $battle_arena_height;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  background-size: cover;

  .elements {
    margin-left: 14px;
  }

  .arena-monster {
    position: relative;
    width: 100%;
    height: 100%;

    progress {
      margin-bottom: 6px!important;
      position: relative;
      width: 275px;
    }

    .monster-hp-notification {
      color: $red;
      font-weight: bold;
      font-family: $logo-font;
      font-size: 30px;
      position: absolute;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      animation: 2s ease-out 0s 1 slideInFromBottom;
    }
  }

  .my-monster-hp-notification {
    bottom: 100px;
    left: 150px;
  }

  .enemy-monster-hp-notification {
    top: 0px;
    right: 150px;
    display: block;
  }

  .battle-winner-banner {
    position: absolute;
    z-index: 999;
    font-weight: bold;
    font-family: $logo-font;
    font-size: 92px;
    margin: auto;
    margin-top: -100px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .enemy-monster {
    cursor: pointer;

    &:hover, &.active {
      border: 2px solid $red;
      border-radius: 5%;
    }
  }
}

/* mobile arena */

@media screen and (max-width: 768px) {

  .battle-arena {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: black;
    flex-direction: column;

    .arena-monster {
      margin: 0;
    }
  }

  .mobile-arena-countdown {
    position: fixed;
    z-index: 999;
    font-weight: bold;
    font-family: $logo-font;
    font-size: 42px;
    margin: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: blue;
    width: 90%;
    text-align: center;
  }

  .mobile-arena-back {
    position: fixed;
    z-index: 999;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    bottom: 10px;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  // .monster-image {
  //   // height: 150px !important;
  //   min-height: 150px !important;
  //   max-height: 150px !important;
  // }
}