// design/layout
.navbar-item.is-active {
  color: $blue!important;
}

// layout
form {
  margin-bottom: 20px;
}

.help-button {
  margin-right: 40px;
  margin-left: 40px;
}

.new-monster-button {
  margin: 25px;
}

.footer {
  margin-top: 50px;

  a {
    margin: 5px;
  }
}

.title, 
.card-header-title, 
.navbar-item,
.content li {
  color: rgb(240, 240, 240);
}

.greetings {
  span { margin-left: 6px !important; }
  color:  rgb(240, 240, 240);
}

.level-item span, 
.tabs a,
.content p,
.content strong,
td, th {
  color: #dadada !important;
}

.level-item span, 
.tabs a,
.content p,
.content strong,
td, th {
  color: #dadada !important;
}

.has-margin-top {
  margin-top: 16px;
}

.has-margin-right {
  margin-right: 16px;
}

.has-margin-bottom {
  margin-left: 16px;
}

.has-margin-left {
  margin-left: 16px;
}

/* toast */
.toast {
  position: fixed;
  width: 365px;
  right: -365px;
  top: 5em;
  z-index: 9999;

  .notification {
      transition: 0.15s ease-in-out;
      width: 325px;
  }

  .notification.on {
    transform: translateX(-365px);
  }
}

.rank {
  .tabs {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .tabs ul {
    flex-wrap: wrap;
    max-width: 100%;
  }

  table {
    td {
      vertical-align: middle;
    }
  }
}

progress {
  text-align: center;

  /* Set the progressbar to relative */
  position:relative;
}

progress:before {
  content: attr(data-label);
  font-size: 0.9em;
  // vertical-align: 0;
  color: #fff;
  font-weight: 700;

  /*Position text over the progress bar */
  position: absolute;
  left: 8px;
  top: -2px;
  right: 8px;
  bottom: 1px;
}

.navbar-mobile {
  width: 100%;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    width: 200px;

    img {
      width: 200px;
      height: 45px;
    }
  }

  .navbar-signin-button {
    margin-right: 10px;
  }

  .navbar-profile-button {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;

    .navbar-profile-coin {
      width: 45px;
      height: 60px;

      img {
        width: 60px;
      }
    }

    .navbar-profile-data {
      flex: 2;
      height: 60px;
      display: flex;
      flex-direction: column;
      text-align: right;

      .navbar-profile-account {
        margin-top: 5px;
        font-family: 'Montserrat', sans-serif;
        color: $my-blue;
        letter-spacing: -1px;
      }

      .navbar-profile-amount {
        margin-top: -5px;
        text-shadow: 2px 2px 5px black;
      }
    }
  }
}

.vertical-separator {
  width: 1px;
  border-width: 0 1px 0 0;
  border-right: 1px solid #dbdbdb;
  border-image:
  linear-gradient(to bottom, rgba(0,0,0, 0), $my-blue-transparent, rgba(0,0,0, 0)) 1 100%;
}

.mobile-controls {
  position: fixed;
  z-index: 25;
  background-color: $my-dark-blue;
  width: 100%;
  bottom: 0;
  height: 55px;

  hr {
    margin: 0 0 8px;
  }

}

.mobile-controls-wrapper {
  padding: 5px 9px;
}

.navbar-controls-top {
  flex: 2;
  margin: 0 20px;
  max-width: 770px;
}
  
.mobile-controls-buttons {
  display: flex;
  justify-content: space-around;
  height: 40px;

  img {
    height: 35px;
    vertical-align: middle;
    margin-right: 6px;
  }

  a:hover {
    text-decoration: none;
  }

  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $my-blue;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .vertical-separator {
    height: 40px;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .navbar {
    min-height: 60px;

    .navbar-menu {
      box-shadow: none;
      border-bottom: 1px solid #eee;
    }
  }

  .navbar-burger {
    margin-top: 12px;
  }

  .logo {
    margin: 12px;
  }

  .section {
    padding: 1rem;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .content h1 {
    font-size: 1.5em;
  }

  .content h2 {
    font-size: 1.25em;
  }

  .content h3 {
    font-size: 1em;
  }
}
