// @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Oswald:400,700|Freckle+Face");

// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css");

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$logo-font: "Freckle Face", cursive;

.logo {
  font-family: $logo-font;
  font-size: 40px;
  margin: 24px;
}

$my-blue: rgb(138, 255, 231);
$my-blue-transparent: rgba(138, 255, 231, 0.75);
$my-dark-blue: #122055;
$my-purple: rgb(132, 32, 118);
$my-yellow: rgb(242, 228, 138);

@import "./_spacing.scss";
@import "./_gradients.scss";
@import "./_monsters.scss";
@import "./_battles.scss";
@import "./_progress-bars.scss";
@import "./_layout.scss";
@import "./_components.scss";

.intro-title {
  font-family: "Montserrat", sans-serif;
  color: $my-blue;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  background-image: map-get($gradients, warm);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin-bottom: 0;
}

h1.title.extra {
  background-image: map-get($gradients, warm);
  margin: -12px 0 0;
  font-size: 3em;
}

.home-monster {
  text-align: center;
  font-family: $logo-font;
  font-size: 40px;
}

.title.rank {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  background-image: map-get($gradients, golden);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arena-header {
  .title {
    background-image: map-get($gradients, warm);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}
