@import url("https://fonts.googleapis.com/css?family=Freckle+Face");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.logo {
  font-family: "Freckle Face", cursive;
  font-size: 40px;
  margin: 24px; }

.m-none {
  margin: 0; }

.p-none {
  padding: 0; }

.m-t-none {
  margin-top: 0; }

.p-t-none {
  padding-top: 0; }

.m-r-none {
  margin-right: 0; }

.p-r-none {
  padding-right: 0; }

.m-b-none {
  margin-bottom: 0; }

.p-b-none {
  padding-bottom: 0; }

.m-l-none {
  margin-left: 0; }

.p-l-none {
  padding-left: 0; }

.m-xxs {
  margin: 0.125rem; }

.p-xxs {
  padding: 0.125rem; }

.m-t-xxs {
  margin-top: 0.125rem; }

.p-t-xxs {
  padding-top: 0.125rem; }

.m-r-xxs {
  margin-right: 0.125rem; }

.p-r-xxs {
  padding-right: 0.125rem; }

.m-b-xxs {
  margin-bottom: 0.125rem; }

.p-b-xxs {
  padding-bottom: 0.125rem; }

.m-l-xxs {
  margin-left: 0.125rem; }

.p-l-xxs {
  padding-left: 0.125rem; }

.m-xs {
  margin: 0.25rem; }

.p-xs {
  padding: 0.25rem; }

.m-t-xs {
  margin-top: 0.25rem; }

.p-t-xs {
  padding-top: 0.25rem; }

.m-r-xs {
  margin-right: 0.25rem; }

.p-r-xs {
  padding-right: 0.25rem; }

.m-b-xs {
  margin-bottom: 0.25rem; }

.p-b-xs {
  padding-bottom: 0.25rem; }

.m-l-xs {
  margin-left: 0.25rem; }

.p-l-xs {
  padding-left: 0.25rem; }

.m-sm {
  margin: 0.5rem; }

.p-sm {
  padding: 0.5rem; }

.m-t-sm {
  margin-top: 0.5rem; }

.p-t-sm {
  padding-top: 0.5rem; }

.m-r-sm {
  margin-right: 0.5rem; }

.p-r-sm {
  padding-right: 0.5rem; }

.m-b-sm {
  margin-bottom: 0.5rem; }

.p-b-sm {
  padding-bottom: 0.5rem; }

.m-l-sm {
  margin-left: 0.5rem; }

.p-l-sm {
  padding-left: 0.5rem; }

.m-md {
  margin: 1rem; }

.p-md {
  padding: 1rem; }

.m-t-md {
  margin-top: 1rem; }

.p-t-md {
  padding-top: 1rem; }

.m-r-md {
  margin-right: 1rem; }

.p-r-md {
  padding-right: 1rem; }

.m-b-md {
  margin-bottom: 1rem; }

.p-b-md {
  padding-bottom: 1rem; }

.m-l-md {
  margin-left: 1rem; }

.p-l-md {
  padding-left: 1rem; }

.m-lg {
  margin: 2rem; }

.p-lg {
  padding: 2rem; }

.m-t-lg {
  margin-top: 2rem; }

.p-t-lg {
  padding-top: 2rem; }

.m-r-lg {
  margin-right: 2rem; }

.p-r-lg {
  padding-right: 2rem; }

.m-b-lg {
  margin-bottom: 2rem; }

.p-b-lg {
  padding-bottom: 2rem; }

.m-l-lg {
  margin-left: 2rem; }

.p-l-lg {
  padding-left: 2rem; }

.m-xl {
  margin: 4rem; }

.p-xl {
  padding: 4rem; }

.m-t-xl {
  margin-top: 4rem; }

.p-t-xl {
  padding-top: 4rem; }

.m-r-xl {
  margin-right: 4rem; }

.p-r-xl {
  padding-right: 4rem; }

.m-b-xl {
  margin-bottom: 4rem; }

.p-b-xl {
  padding-bottom: 4rem; }

.m-l-xl {
  margin-left: 4rem; }

.p-l-xl {
  padding-left: 4rem; }

.m-xxl {
  margin: 8rem; }

.p-xxl {
  padding: 8rem; }

.m-t-xxl {
  margin-top: 8rem; }

.p-t-xxl {
  padding-top: 8rem; }

.m-r-xxl {
  margin-right: 8rem; }

.p-r-xxl {
  padding-right: 8rem; }

.m-b-xxl {
  margin-bottom: 8rem; }

.p-b-xxl {
  padding-bottom: 8rem; }

.m-l-xxl {
  margin-left: 8rem; }

.p-l-xxl {
  padding-left: 8rem; }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(150%); }
  100% {
    transform: translateY(0); } }

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 200ms ease-in-out;
  opacity: 0.3; }
  .grayscale:hover {
    -webkit-filter: grayscale(30%);
    -moz-filter: grayscale(30%);
    filter: grayscale(30%); }

.sleeping {
  -webkit-filter: brightness(5%);
  -moz-filter: brightness(5%);
  -ms-filter: brightness(5%);
  -o-filter: brightness(5%);
  filter: brightness(5%); }

.sleep-gif {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.monster-image {
  max-height: 300px !important; }

.home-monster {
  max-height: 300px !important; }

.monster-column {
  min-width: 310px;
  max-width: 310px; }

.monster-rank-icon {
  max-height: 80px;
  vertical-align: middle; }

.monster-card-header {
  font-size: 0.8rem; }

.monster-card-stats {
  margin: 0 14px 14px; }

.monster-header-link .title {
  color: #3273dc; }
  .monster-header-link .title:hover {
    color: #000; }

.monster-selected {
  background-color: greenyellow; }

/* mobile */
@media screen and (max-width: 768px) {
  .monster-column {
    max-width: 400px; } }

.monster-picks small {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400; }

.monster-picks .player-monsters {
  display: flex;
  flex-wrap: wrap; }
  .monster-picks .player-monsters .monster-pick {
    max-width: 140px;
    max-height: 140px;
    margin: 18px;
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -ms-filter: brightness(80%);
    -o-filter: brightness(80%);
    filter: brightness(80%); }
    .monster-picks .player-monsters .monster-pick:hover, .monster-picks .player-monsters .monster-pick.active {
      border: 2px solid #23d160;
      border-radius: 5%;
      cursor: pointer;
      -webkit-filter: brightness(100%);
      -moz-filter: brightness(100%);
      -ms-filter: brightness(100%);
      -o-filter: brightness(100%);
      filter: brightness(100%); }

.monster-hp-name {
  position: absolute;
  margin-top: -25px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff; }

.battle-actions {
  height: 30px; }

.battle-arena {
  width: 1020px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: gray no-repeat center center fixed;
  background-size: cover; }
  .battle-arena .elements {
    margin-left: 14px; }
  .battle-arena.arena-0 {
    background: url("../assets/images/arenas/0.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-1 {
    background: url("../assets/images/arenas/1.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-2 {
    background: url("../assets/images/arenas/2.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-3 {
    background: url("../assets/images/arenas/3.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-4 {
    background: url("../assets/images/arenas/4.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-5 {
    background: url("../assets/images/arenas/5.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-6 {
    background: url("../assets/images/arenas/6.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-7 {
    background: url("../assets/images/arenas/7.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-8 {
    background: url("../assets/images/arenas/8.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-9 {
    background: url("../assets/images/arenas/9.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-10 {
    background: url("../assets/images/arenas/10.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-11 {
    background: url("../assets/images/arenas/11.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-12 {
    background: url("../assets/images/arenas/12.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-13 {
    background: url("../assets/images/arenas/13.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-14 {
    background: url("../assets/images/arenas/14.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-15 {
    background: url("../assets/images/arenas/15.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-16 {
    background: url("../assets/images/arenas/16.png") no-repeat center center;
    background-size: cover; }
  .battle-arena.arena-17 {
    background: url("../assets/images/arenas/17.png") no-repeat center center;
    background-size: cover; }
  .battle-arena .arena-monster {
    margin-top: 200px;
    max-width: 200px;
    max-height: 200px; }
    .battle-arena .arena-monster figure {
      max-height: 180px;
      max-width: 180px;
      margin: 10px; }
    .battle-arena .arena-monster progress {
      margin-bottom: 6px !important; }
    .battle-arena .arena-monster .monster-hp-notification {
      color: #ff3860;
      font-weight: bold;
      font-family: "Freckle Face", cursive;
      font-size: 30px;
      margin-left: 40px;
      margin-top: -180px;
      position: absolute;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      animation: 2s ease-out 0s 1 slideInFromBottom; }
  .battle-arena .battle-winner-banner {
    position: absolute;
    z-index: 999;
    font-weight: bold;
    font-family: "Freckle Face", cursive;
    font-size: 92px;
    margin: auto;
    margin-top: -100px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; }
  .battle-arena .enemy-monster {
    cursor: pointer; }
    .battle-arena .enemy-monster:hover, .battle-arena .enemy-monster.active {
      border: 2px solid #ff3860;
      border-radius: 5%; }

/* mobile arena */
@media screen and (max-width: 768px) {
  .battle-arena {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: black;
    flex-direction: column; }
    .battle-arena .arena-monster {
      margin: 0; }
  .mobile-arena-countdown {
    position: fixed;
    z-index: 999;
    font-weight: bold;
    font-family: "Freckle Face", cursive;
    font-size: 42px;
    margin: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: blue;
    width: 90%;
    text-align: center; }
  .mobile-arena-back {
    position: fixed;
    z-index: 999;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    bottom: 10px;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; } }

.button.is-purple {
  background-color: #b86bff;
  color: white; }

.button.is-brown {
  background-color: #D2691E;
  color: white; }

.navbar-item.is-active {
  color: #3273dc !important; }

form {
  margin-bottom: 20px; }

.help-button {
  margin-right: 40px;
  margin-left: 40px; }

.new-monster-button {
  margin: 25px; }

.footer {
  margin-top: 50px; }
  .footer a {
    margin: 5px; }

.greetings span {
  margin-left: 6px !important; }

.has-margin-top {
  margin-top: 16px; }

/* toast */
.toast {
  position: fixed;
  width: 365px;
  right: -365px;
  top: 5em;
  z-index: 9999; }
  .toast .notification {
    transition: 0.15s ease-in-out;
    width: 325px; }
  .toast .notification.on {
    transform: translateX(-365px); }

.rank .tabs {
  overflow: hidden;
  margin-bottom: 20px; }

.rank .tabs ul {
  flex-wrap: wrap;
  max-width: 100%; }

.rank table td {
  vertical-align: middle; }

progress {
  text-align: center;
  /* Set the progressbar to relative */
  position: relative; }

progress:before {
  content: attr(data-label);
  font-size: 0.9em;
  color: #fff;
  font-weight: 700;
  /*Position text over the progress bar */
  position: absolute;
  left: 8px;
  top: -2px;
  right: 8px;
  bottom: 1px; }

/* mobile */
@media screen and (max-width: 768px) {
  .navbar {
    min-height: 60px; }
    .navbar .navbar-menu {
      box-shadow: none;
      border-bottom: 1px solid #eee; }
  .navbar-burger {
    margin-top: 12px; }
  .logo {
    margin: 12px; }
  .section {
    padding: 1rem; }
  .footer {
    padding-bottom: 3rem; }
  .content h1 {
    font-size: 1.5em; }
  .content h2 {
    font-size: 1.25em; }
  .content h3 {
    font-size: 1em; } }

.logo-small-img {
  max-width: 65%; }

.navbar {
  background-color: #18265c;
  min-height: 60px; }

.navbar .navbar-menu {
  box-shadow: none;
  border-bottom: 1px solid #eee; }

.navbar-burger {
  color: #00fecb;
  margin-top: 12px; }

.logo {
  margin: 12px; }

.section {
  background-color: #1a2350;
  padding: 1rem; }

.footer {
  padding-bottom: 3rem; }

.card {
  /* background-color: #18265c; */
  background: -moz-linear-gradient(45deg, #071439 0%, #046c78 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #071439 0%, #046c78 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #071439 0%, #046c78 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px #00ffea;
  -moz-box-shadow: 0px 0px 10px 1px #00ffea;
  box-shadow: 0px 0px 10px 1px #00ffea; }

.content h1 {
  font-family: "Freckle Face", cursive;
  color: #00ffea;
  font-size: 1.5em; }

.content h2 {
  color: #00ffea;
  font-size: 1.25em; }

.content h3 {
  color: #00ffea;
  font-size: 1em; }

.button {
  color: #00ffea; }
