// @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Oswald|Freckle+Face');

// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css');

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$logo-font: 'Freckle Face', cursive;

.logo {
  font-family: $logo-font;
  font-size: 40px;
  margin: 24px;
}

@import "./_spacing.scss";
@import "./_monsters.scss";
@import "./_battles.scss";
@import "./_buttons.scss";
@import "./_layout.scss";
@import "./_progress-bars.scss";

.logo-small-img {
  max-width: 65%;
}

.navbar {
  background-color: #18265c;
  min-height: 60px; }
.navbar .navbar-menu {
  box-shadow: none;
  border-bottom: 1px solid #eee; }
.navbar-burger {
  color: #00fecb;
  margin-top: 12px; }
.logo {
  margin: 12px; }
.section {
  background-color: rgb(26, 35, 80);
  padding: 1rem; }
.footer {
  padding-bottom: 3rem; }
.card {
  background: linear-gradient(45deg, #071439 0%,#046c78 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px #00ffea;
}
.content h1 {
  font-family: $logo-font;
  color: #00ffea;
  font-size: 1.5em; }
.content h2 {
  color: #00ffea;
  font-size: 1.25em; }
.content h3 {
  color: #00ffea;
  font-size: 1em; } 
.button {
  color: #00ffea;
}

.monster-card {
  .card-content {
    padding: 0.5rem;
  }

  .monster-card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #fff6bd;
    text-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    .monster-status {
      font-size: 14px;
    }
  
    .monster-id {
      // background: -webkit-linear-gradient(yellow, white, yellow);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      font-size: 18px;
      color: 	#DAA520;
    }
  }

  .hp-card {
    height: 40px;
  }
  
}

.card-footer {
  border-top: none;
  background: rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
  a { 
    color: #fff; 
  }

  .card-footer-item:not(:last-child) {
    border-width: 0 1px 0 0;
    border-image:
    linear-gradient(to bottom, rgba(123,229,167,0) 0%,rgba(124,211,193,1) 48%,rgba(124,202,206,1) 52%,rgba(125,185,232,0) 100%) 1 100%;
  }
}