// @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Oswald:400,700|Freckle+Face');

// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css');

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$logo-font: 'Freckle Face', cursive;

.logo {
  font-family: $logo-font;
  font-size: 40px;
  margin: 24px;
}

$my-blue: rgb(138, 255, 231);
$my-blue-transparent: rgba(138, 255, 231, 0.75);
$my-dark-blue: #122055;
$my-purple: rgb(132,32,118);
$my-yellow: rgb(242,228,138);

@import "./_spacing.scss";
@import "./_gradients.scss";
@import "./_monsters.scss";
@import "./_battles.scss";
@import "./_buttons.scss";
@import "./_layout.scss";
@import "./_progress-bars.scss";

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-image: map-get($gradients, iceblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  text-transform: uppercase;
  color: $my-blue;
}

.content h1 {
  font-size: 1.75em; 
}

.content h2 {
  font-size: 1.45em;
}

.content h3 {
  font-size: 1.15em;
  margin: 15px 0 20px;
  background-image: map-get($gradients, warm);
}

html, body {
  font-family: 'Oswald', sans-serif;
  background-color: $my-dark-blue;
  color: #eee;
  margin: 0;
  padding: 0;
}

.logo-small-img {
  max-width: 65%;
}

.navbar {
  background-color: $my-dark-blue;
  min-height: 60px; }

.navbar .navbar-menu {
  box-shadow: none;
  border-bottom: 1px solid #eee; }

.navbar-burger {
  color: $my-blue;
  margin-top: 12px; }

.logo {
  margin: 12px; }

.section {
  background-color: $my-dark-blue;
  padding: 1rem; }

.content table {
  border-collapse: initial;
  background: linear-gradient(45deg, #071439 0%, $my-purple 100%);
  color: $my-yellow;
  border-radius: 5px;
  border: 1px solid $my-yellow;
  box-shadow: 0px 0px 20px 1px $my-yellow;

  td, th {
    color: $my-yellow!important;
    border: 1px solid $my-yellow;
    border-width: 0 0 1px;
  }

  a {
    color: $my-blue;
  }
  
}

a {
  color: $my-yellow;

  &:hover {
    text-decoration: underline;
    color: $my-yellow;
  }
}

.footer {
  padding-bottom: 90px;
  background-color: #000;
}

hr {
  border: 0;
  height: 1px;
  margin: 8px 0 18px;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0,0,0, 0), $my-blue-transparent, rgba(0,0,0, 0));
}

.intro-title {
  font-family: 'Montserrat', sans-serif;
  color: $my-blue;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em; 
  font-weight: 700;
  background-image: map-get($gradients, warm);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  margin-bottom: 0;
}

h1.title.extra {
  background-image: map-get($gradients, warm);
  margin: -12px 0 0;
  font-size: 3em;
}


.button {
  border-top: 1px solid #01e1bf;
  background: #01e1bf;
  background: linear-gradient(to bottom, #89eef3, #01e1bf);
  padding: 13px 26px;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border-top-color: #01e1bf;
    background: #01e1bf;
    color: #ffffff;
    text-decoration: none;
  }
  
  &:active {
    border-top-color: #01e1bf;
    background: #01e1bf;
    text-decoration: none;
  }
}

.button.is-danger {
  border-top: 1px solid #f71000;
  background: #f71000;
  background: linear-gradient(to bottom, #fbb482, #f71000);

  &:hover {
    border-top-color: #f71000;
    background: #f71000;
  }

  &:active {
    border-top-color: #f71000;
    background: #f71000;
  }
}

.button.is-success {
  border-top: 1px solid rgb(146,207,2);
  background: rgb(146,207,2);
  background: linear-gradient(to bottom, rgb(183,242,133), rgb(146,207,2));

  &:hover {
    border-top-color: rgb(146,207,2);
    background: rgb(146,207,2);
  }

  &:active {
    border-top-color: rgb(146,207,2);
    background: rgb(146,207,2);
  }
}

.card, .arena-header>.box {
  background: linear-gradient(45deg, #071439 0%,#046c78 100%);
  border-radius: 5px;
  border: 1px solid $my-blue;
  box-shadow: 0px 0px 20px 1px $my-blue;
  color: #fff;
}

.card-footer {
  border-top: none;
  background: rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
  a { 
    color: #fff; 
  }

  .card-footer-item:not(:last-child) {
    border-width: 0 1px 0 0;
    border-image:
    linear-gradient(to bottom, rgba(0,0,0, 0), $my-blue-transparent, rgba(0,0,0, 0)) 1 100%;
  }
}

.section.page {
  min-height: 500px;
}

.modal-card {
  background: linear-gradient(45deg, rgb(10, 15, 45) 0%,rgb(11, 202, 165) 100%);
  border-radius: 5px;
  border: 1px solid $my-blue;
  box-shadow: 0px 0px 20px 1px $my-blue;

  .modal-card-body, .modal-card-head, .modal-card-foot {
    background-color: transparent;
    border: 0;
  }

  .modal-card-head {
    text-align: center;

    .delete {
      position: absolute;
      top: 3px;
      right: 3px;
    }

    .modal-card-title {
      margin-top: 16px;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 700;
      background-image: map-get($gradients, golden);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .modal-card-foot {
    display: flex;
    justify-content: space-around;
  }
}

.label {
  color: #fff;
}

.home-monster {
  text-align: center;
  font-family: $logo-font;
  font-size: 40px;
}

.title.rank {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  background-image: map-get($gradients, golden);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}